Node-Red_Flows/Lab_3.json
[{"id":"bcf71cb7.f995e8","type":"inject","z":"b6ded059.27b44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":260,"wires":[["d042b521.7e7168","425b7fa8.a22e8","b2eb66e7.39fd18"]]},{"id":"d042b521.7e7168","type":"file in","z":"b6ded059.27b44","name":"","filename":"/tmp/voltage","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":260,"wires":[["ab95d136.f82c98"]]},{"id":"ab95d136.f82c98","type":"ui_gauge","z":"b6ded059.27b44","name":"","group":"dc4177b8.eea62","order":0,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"Volts","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":260,"wires":[]},{"id":"425b7fa8.a22e8","type":"file in","z":"b6ded059.27b44","name":"","filename":"/tmp/direction","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":360,"wires":[["6397f388.0fd514"]]},{"id":"b2eb66e7.39fd18","type":"file in","z":"b6ded059.27b44","name":"","filename":"/tmp/heading","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":480,"wires":[["c5a8b467.b8616"]]},{"id":"6397f388.0fd514","type":"ui_gauge","z":"b6ded059.27b44","name":"","group":"dc4177b8.eea62","order":0,"width":0,"height":0,"gtype":"compass","title":"Compass Reading","label":"Degrees","format":"{{value}}","min":"-180","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":360,"wires":[]},{"id":"c5a8b467.b8616","type":"ui_text","z":"b6ded059.27b44","group":"dc4177b8.eea62","order":2,"width":0,"height":0,"name":"","label":"Cardinal Direction","format":"{{msg.payload}}","layout":"col-center","x":710,"y":480,"wires":[]},{"id":"dc4177b8.eea62","type":"ui_group","name":"Group 1","tab":"fee5be18.e83818","order":1,"disp":true,"width":"6","collapse":false},{"id":"fee5be18.e83818","type":"ui_tab","name":"Lab 2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]